<RunSettings>
  <RunConfiguration>
    <TargetFrameworkVersion>net6.0</TargetFrameworkVersion>
    <TargetPlatform>x64</TargetPlatform>
    <EnvironmentVariables>
      <DOTNET_STARTUP_HOOKS>C:\ProgramData\BHoM\Assemblies\TestStartupHook.dll</DOTNET_STARTUP_HOOKS>
    </EnvironmentVariables>
    <DisableAppDomain>true</DisableAppDomain>
    <InProcDataCollectionRunSettings>
      <DataCollectors>
        <DataCollector friendlyName="Environment" uri="datacollector://microsoft/Environment/1.0">
          <Configuration>
            <EnvironmentVariables>
              <Variable name="DOTNET_STARTUP_HOOKS" value="C:\ProgramData\BHoM\Assemblies\TestStartupHook.dll" />
            </EnvironmentVariables>
          </Configuration>
        </DataCollector>
      </DataCollectors>
    </InProcDataCollectionRunSettings>
  </RunConfiguration>
</RunSettings>
